@charset "utf-8";
/* CSS Document */
body{
	margin:0;
	padding:0;
	font-family:'Noto Sans',sans-serif;
	font-size:14px;
}
.fixedparts{
	position:absolute;
}
#svgbox{
	width:100%;
	top:30px;
	bottom:150px;
	overflow:hidden;
}
#infobox{
	width:100%;
	top:0;
	height:30px;
	background-color:#9FF;
}
#toolbox{
	width:100%;
	bottom:0;
	height:150px;
	background-color:#FF9;
}
#infobox .button{
	width:100px;
	height:20px;
	float:left;
	background-color:#6CF;
	margin:5px;
	border-radius:10px;
	text-align:center;
	font-weight:bold;
	font-size:15px;
	cursor:pointer;
}
#infobox .button:hover{
	background-color:#00F;
	color:#FFF;
}
#faderbox{
	width:100%;
	position:absolute;
	top:0;
	bottom:0;
	background-color:#FFF;
	display:none;
}
#newbox{
	width:300px;
	margin-left:auto;
	margin-right:auto;
	background-color:#9F9;
	position:relative;
	/*height:200px;*/
	top:100px;
	padding:20px;
	border-radius:20px;
	display:none;
}
#newbox input[type=text]{
	width:50px;
}
.notefont{
	font-size:12px;
	color:#555;
}
.centretext{
	text-align:center;
}
#newbox .buttoncontainer{
	text-align:center;
}
#newbox .buttoncontainer .button{
	width:100px;
	height:20px;
	background-color:#0D0;
	margin:5px;
	border-radius:10px;
	text-align:center;
	font-weight:bold;
	font-size:15px;
	cursor:pointer;
	display:inline-block;
}
#newbox .buttoncontainer .button:hover{
	background-color:#080;
	color:#FFF;
}
#svgbox #svgmover{
	position:absolute;
	left:0;
	top:0;
	height:0;
	width:0;
	transition: transform 0.5s;
}