@charset "utf-8";
/* CSS Document */
html{
	margin:0;
	height:100%;
	min-height:100%;
	max-height:100%;
	padding:0;
	overflow:hidden;
}
body{
	margin:0;
	height:100%;
	min-height:100%;
	max-height:100%;
	padding:0;
	overflow:hidden;
	-ms-touch-action:none;
	touch-action:none;
}
#maindiv{
	margin:0 auto;
	resize:both;
	display:block;
	border:none;
	overflow:hidden;
	/*width:100px;
	height:100px;
	max-width:100%;
	max-height:100%;
	min-width:100px;
	min-height:100px;*/
	width:100%;
	height:100%;
	box-sizing:border-box;
	padding:5px;
}
@media only screen and (min-width:1224px){
	#maindiv{
		border:2px solid #000;
	}
}
#tablediv{
	display:table;
	width:100%;
	height:100%;
	resize:none;
	overflow:hidden;
}
#sidebar{
	display:table-cell;
	overflow:hidden;
	width:100px;
	max-width:100px;
	min-width:100px;
	height:100%;
}
#mainbar{
	display:table-cell;
	overflow:hidden;
	height:100%;
	vertical-align:top;
}
#sidewrapper{
	display:block;
	box-sizing:border-box;
	width:100%;
	height:100%;
	padding:5px;
	position:relative;
}
#mainwrapper{
	display:block;
	box-sizing:border-box;
	width:100%;
	height:100%;
	padding:5px;
	position:relative;
	/*margin-bottom:-5px;*/
	/*Debug*/background-color:#0F0;
}
#sidegroundedbox{
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
}
.arrow{
	font-family:Helvetica,Arial,sans-serif;
	height:40px;
	font-size:30px;
	font-weight:bold;
	background-color:#CCC;
	border-radius:20px;
	margin:2px;
}
.arrow-left{
	text-align:left;
	padding-left:10px;
}
.arrow-left::before{
	content:"←";
}
.arrow-right{
	text-align:right;
	padding-right:10px;
}
.arrow-right::before{
	content:"→";
}
#svgbox{ /* this will need to be changed */
	position:absolute;
	/*Debug*/background-color:#0FF;
	border:2px solid #F00;
}