@charset "utf-8";
/* CSS Document */
html{
	margin:0;
	height:100%;
	min-height:100%;
	max-height:100%;
	padding:0;
	overflow:hidden;
}
body{
	margin:0;
	height:100%;
	min-height:100%;
	max-height:100%;
	padding:0;
	overflow:hidden;
	-ms-touch-action:none;
	touch-action:none;
	
	display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
	display: -moz-box;      /* OLD: Firefox (buggy) */
	display: -ms-flexbox;   /* MID: IE 10 */
	display: -webkit-flex;  /* NEW, Chrome 21–28, Safari 6.1+ */
	display: flex;          /* NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+ */
	
	-webkit-box-align: center; -moz-box-align: center; /* OLD… */
	-ms-flex-align: center; /* You know the drill now… */
	-webkit-align-items: center;
	align-items: center;
	
	-webkit-box-pack: center; -moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}
body>div{
	display:block;
}
#start{
	cursor:pointer;
	font-weight:bold;
	font-family:'Gloria Hallelujah',cursive;
	font-size:16px;
}
.card{
	border:3px solid #00F;
	border-radius:13px;
	box-sizing:border-box;
	overflow:hidden;
	display:block;
}
.card>div{
	/*width:100%;
	height:100%;*/
	box-sizing:border-box;
	border-radius:10px;
	overflow:hidden;
	display:block;
}
.card>div>svg{
	width:100%;
	max-width:60px;
	display:block;
}
.face-value{
	font-family:'Gloria Hallelujah',cursive;
	font-size:36px;
}
.face-points{
	font-family:Arial,Helvetica,sans-serif;
	font-size:10px;
}
.face-background{
	stroke-width:0;
}
.face-1>.face-background{
	fill:rgb(255,255,204);
}
.face-2>.face-background{
	fill:rgb(255,204,153);
}
.face-3>.face-background{
	fill:rgb(255,153,68);
}
.face-5>.face-background{
	fill:rgb(238,0,0);
}
.face-8>.face-background{
	fill:rgb(119,0,0);
}
.face-5>.face-value{
	color:#FFF;
}
.face-8>.face-value{
	color:#FFF;
}