@charset "utf-8";
/* CSS Document */
html{
	margin:0;
	height:100%;
	min-height:100%;
	max-height:100%;
}
body{
	margin:0;
	height:100%;
	min-height:100%;
	max-height:100%;
}
#titlescreen{
	height:100%;
	width:100%;
	overflow:hidden;
	background-image:url('background.svg');
}
#gamescreen{
	width:100%;
	height:100%;
	display:none;
}
#titlebuttonflex{
	width:400px;
	margin-left:auto;
	margin-right:auto;
	height:100%;
	/*min-height:100%;
	max-height:100%;*/
	overflow:auto;
	display:-webkit-flex;
	display:-moz-flex;
	display:-ms-flex;
	display:flex;
	-webkit-flex-direction:column;
	-moz-flex-direction:column;
	-ms-flex-direction:column;
    flex-direction:column;
}
@media all and (max-width:400px){
	#titlebuttonflex{
		width:100%;
	}
}
.buttonbox{
	background-color:#0F0;
	-webkit-flex:0 0 auto;
	-moz-flex:0 0 auto;
	-ms-flex:0 0 auto;
	flex:0 0 auto;
}
#titlebuttonflex::before{
	content:"";
	-webkit-flex:1 1 0px;
	-moz-flex:1 1 0px;
	-ms-flex:1 1 0px;
	flex:1 1 0px;
	display:block;
}
#titlebuttonflex::after{
	content:"";
	-webkit-flex:2 2 0px;
	-moz-flex:2 2 0px;
	-ms-flex:2 2 0px;
	flex:2 2 0px;
	display:block;
}
#settingbuttonbox{
	display:none;
}
.titlebutton{
	-moz-border-radius:7px;
	border-radius:7px;
	font-family:'Gloria Hallelujah',cursive;
	text-align:center;
	margin:4px;
	cursor:pointer;
}
#playtitlebutton{
	background-color:#F90;
	line-height:50px;
	font-size:20px;
}
#playtitlebutton:hover{
	background-color:#A60;
}
#instructiontitlebutton{
	background-color:#FE0;
	line-height:30px;
	font-size:16px;
}
#instructiontitlebutton:hover{
	background-color:#AA9F00;
}